<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your user</title>
    <link href="./CreateUser.css" rel="stylesheet" />
    <script src="./CreateUser.js"></script>
</head>
<body>  
    <header class="my_store_header">
        <nav class="my_store_navbar">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="my_store_new_user_form" id="userForm" >
            <div class="my_store_new_user_email_container  input_container">
                <label for="my_store_new_user_email" class="my_store_new_user_email_label"> Email </label>
                <input type="email" name="my_store_new_user_email" id="my_store_new_user_email_input" value="" placeholder="Set your email, please" />
            </div>
            <div class="my_store_new_user_password_container   input_container">
                <label for="my_store_new_user_password" class="my_store_new_user_password_label"> Password </label>
                <input type="password" name="my_store_new_user_password" id="my_store_new_user_password_input" value="" placeholder="Set your password, please" />
            </div>

            <div class="my_store_new_user_password_checkbox_container">
                <p> Show your password</p>
                <input type="checkbox" class="my_store_new_user_checkbox" id="my_store_new_user_checkbox_input" value="" />
            </div>

            <div class="my_store_new_user_button_container">
                <button class="my_store_new_user_button">Create</button>
            </div>

        </form>
    </main>
    <footer>
    </footer>
</body>
</html>